body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    overflow: hidden;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex: 1 1 auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    justify-content: space-around;
    min-height: 174px;

    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 4;
    margin-right: 30px;
    padding: 2px 6px;

    font-weight: bold;
    font-size: 14px;
    color: black;

    border: 5px solid black;
    span {
        font-size: 16px;
        color: #ABE9E6;
    }
}

.menu__list {
    display: flex;

    font-size: 9px;
    font-weight: 700;
    .menu__link {
        margin: 0 30px 0 0;

        color: black;
    }
}
.burger__icon,
.burger__icon-close {
    display: none;
}
@media (max-width: 767px) {
    .header__container {
        min-height: 100px;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;

        width: 100%;
        height: 100%;
        padding: 100px 15px 20px 15px;

        background-color: #fff;
        transition: left 0.8s ease 0s;
        overflow: auto;
    }

    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100px;
        background-color: #fff;
    }

    .menu__list {
        flex-direction: column;

        font-size: 19px;
        align-items: center;
    }

    .menu__item {
        margin: 0 0 40px 0;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    .header__burger {
        display: flex;
    }

    .burger__icon {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
            &::before,
            &::after {
                content: "";
                width: 30px;
                height: 4px;

                background-color: #000;
            }
            & span {
                width: 30px;
                height: 4px;

                background-color: #000;
            }
    }

    .burger__icon-close {
        position: relative;

        width: 30px;
        height: 30px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;
            height: 4px;
            background-color: #000;
        }
    } 

    .burger__icon-close {
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }

    .burger__icon-close {
        display: none;
    }

    .header:target .burger__icon {
        display: none;
    }

    .header:target .burger__icon-close {
        display: flex;
    }
}
