@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?k8r3w6');
  src:  url('../fonts/icons.eot?k8r3w6#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?k8r3w6') format('truetype'),
    url('../fonts/icons.woff?k8r3w6') format('woff'),
    url('../fonts/icons.svg?k8r3w6#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-dribbble:before {
  content: "\e900";
}
._icon-facebook:before {
  content: "\e901";
}
._icon-pinterest:before {
  content: "\e902";
}
._icon-twitter:before {
  content: "\e903";
}
