body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 174px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 4;
  margin-right: 30px;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 5px solid black;
}
.header__logo span {
  font-size: 16px;
  color: #ABE9E6;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 9px;
  font-weight: 700;
}
.menu__list .menu__link {
  margin: 0 30px 0 0;
  color: black;
}

.burger__icon,
.burger__icon-close {
  display: none;
}

@media (max-width: 767px) {
  .header__container {
    min-height: 100px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 15px 20px 15px;
    background-color: #fff;
    -webkit-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    overflow: auto;
  }

  .header:target .menu__body {
    left: 0;
  }

  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    margin: 0 0 40px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger__icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 20px;
  }
  .burger__icon::before, .burger__icon::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: #606061;
  }
  .burger__icon span {
    width: 30px;
    height: 4px;
    background-color: #606061;
  }

  .burger__icon-close {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .burger__icon-close::before, .burger__icon-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #606061;
  }

  .burger__icon-close::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger__icon-close::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger__icon-close {
    display: none;
  }

  .header:target .burger__icon {
    display: none;
  }

  .header:target .burger__icon-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.shopno-agency {
  height: 100vh;
  padding: 300px 0 190px 0;
  text-align: center;
  background-color: #EFF0F2;
}

.shopno-agency__title {
  padding-bottom: 140px;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 4px 4px 7px #adadad;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #505050;
}
.shopno-agency__title span {
  display: inline-block;
  padding: 0 12px;
  background-color: #B2F2EE;
}

.shopno-agency__button {
  display: inline-block;
  padding: 17px 40px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #3C3C3D;
  border: 2px solid #777879;
}

.shopno-agency__image {
  position: relative;
}
.shopno-agency__image img {
  position: absolute;
  top: -45px;
  right: 60px;
}

@media (max-height: 767px) {
  .shopno-agency {
    padding: 220px 0 100px 0;
  }
}
@media (max-height: 650px) {
  .header__container {
    min-height: 100px;
  }

  .shopno-agency {
    padding: 150px 0 0 0;
  }

  .shopno-agency__title {
    padding-bottom: 60px;
  }
}
@media (max-height: 480px) {
  .shopno-agency {
    padding: 120px 0 0 0;
  }

  .shopno-agency__title {
    padding-bottom: 40px;
    font-size: 24px;
  }

  .shopno-agency__button {
    padding: 14px 30px;
  }

  .shopno-agency__image {
    display: none;
  }
}
@media (max-width: 767px) {
  .shopno-agency__title {
    font-size: 24px;
  }

  .shopno-agency__image img {
    right: 0;
  }
}
@media (max-width: 650px) {
  .shopno-agency__title {
    font-size: 20px;
  }

  .shopno-agency__image {
    display: none;
  }
}
@media (max-width: 480px) {
  .shopno-agency__title {
    font-size: 16px;
  }

  .shopno-agency__button {
    padding: 12px 20px;
    font-size: 14px;
  }
}
.about-us {
  padding: 120px 0 200px 0;
  text-align: center;
  background-color: #F8FAFA;
}

.title {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 38px;
  color: #181919;
}

.subtitle {
  padding-bottom: 140px;
  font-family: "Merriweather";
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #5E5F5F;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__slider {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about-us__slider > input {
  display: none;
}

.about-us__slider-body {
  position: relative;
  width: 480px;
  height: 410px;
  background-color: #ddd;
}

.about-us__body-slides {
  position: absolute;
  top: -9%;
  left: 9%;
  z-index: 0;
  width: 390px;
  height: 480px;
  -webkit-box-shadow: 0px -11px 12px -3px #EFF0F2;
          box-shadow: 0px -11px 12px -3px #EFF0F2;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.about-us__slide-one {
  background: url("../../img/main/about-us/computer.jpg") 0 0/100% 100% no-repeat;
}

.about-us__slide-two {
  background: url("../../img/main/about-us/computer.jpg") 0 0/100% 100% no-repeat;
}

.about-us__slide-three {
  background: url("../../img/main/about-us/computer.jpg") 0 0/100% 100% no-repeat;
}

.about-us__slide-four {
  background: url("../../img/main/about-us/computer.jpg") 0 0/100% 100% no-repeat;
}

.about-us__controls {
  position: absolute;
  top: 119%;
  left: 37%;
}

.about-us__controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #D0D0D0;
  border-radius: 35%;
  cursor: pointer;
}
.about-us__controls label:not(:last-child) {
  margin: 0 4px 0 0;
}

.about-us__controls label:hover,
#about-us__slide-one:checked ~ .about-us__controls label:nth-of-type(1),
#about-us__slide-two:checked ~ .about-us__controls label:nth-of-type(2),
#about-us__slide-three:checked ~ .about-us__controls label:nth-of-type(3),
#about-us__slide-four:checked ~ .about-us__controls label:nth-of-type(4) {
  background: #71F6EB;
}

#about-us__slide-one:checked ~ .about-us__slider-body > .about-us__slide-one,
#about-us__slide-two:checked ~ .about-us__slider-body > .about-us__slide-two,
#about-us__slide-three:checked ~ .about-us__slider-body > .about-us__slide-three,
#about-us__slide-four:checked ~ .about-us__slider-body > .about-us__slide-four {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.content__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  text-align: start;
}

.content__description-title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Merriweather";
  letter-spacing: 0.05em;
  color: #4A4B4B;
}

.content__description-text {
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: 0.05em;
  line-height: 1.7;
  color: #5E5F5F;
}
.content__description-text:not(:last-child) {
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .about-us__slider-body {
    width: 440px;
    height: 390px;
  }

  .about-us__body-slides {
    top: -7%;
    width: 360px;
    height: 455px;
  }

  .about-us__controls {
    top: 110%;
    left: 39%;
  }
}
@media (max-width: 991px) {
  .about-us__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .about-us__slider-body {
    margin: 0 auto 160px;
  }

  .about-us__controls {
    top: 86%;
    left: 47%;
  }

  .content__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 27px;
  }

  .subtitle {
    font-size: 14px;
  }

  .about-us {
    padding: 80px 0 100px 0;
  }
}
@media (max-width: 480px) {
  .about-us {
    padding: 100px 0 90px 0;
  }

  .subtitle {
    padding-bottom: 75px;
    line-height: 1.3;
  }

  .about-us__slider-body {
    width: 288px;
    height: 330px;
  }

  .about-us__body-slides {
    width: 234px;
    height: 382px;
  }

  .about-us__controls {
    top: 81%;
    left: 42%;
  }

  .content__description-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .content__description-text {
    font-size: 14px;
  }
}
.featured-works {
  padding: 120px 0 125px 0;
  text-align: center;
}

.featured-works__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 13px 1fr;
  -ms-grid-columns: 1fr 13px 1fr 13px 1fr;
      grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 13px;
}

@media (max-width: 1199px) {
  .featured-works__images {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 370px 370px;
        grid-template: 1fr 1fr 1fr/370px 370px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991px) {
  .featured-works__images {
    -ms-grid-columns: 330px 330px;
    grid-template-columns: 330px 330px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }

  .featured-works__image img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .featured-works__images {
    -ms-grid-rows: 1fr 25px 1fr 25px 1fr 25px 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr 1fr/1fr;
    row-gap: 25px;
  }
}
@media (max-width: 480px) {
  .featured-works {
    padding: 70px 0 100px 0;
  }
}
.our-services {
  padding: 125px 0;
  text-align: center;
  background-color: #F9FBFB;
}

.our-services__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 370px 11px 370px 11px 370px;
  -ms-grid-columns: 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr;
      grid-template: repeat(3, 370px)/repeat(12, 1fr);
  gap: 11px;
}

.our-services__column {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr auto/1fr;
  padding: 155px 95px 55px 60px;
  text-align: left;
}

.our-services__column-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  background: url("../../img/main/our-services/Rectangle1.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  background: url("../../img/main/our-services/Rectangle2.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-three {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  background: url("../../img/main/our-services/Rectangle1.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-four {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  background: url("../../img/main/our-services/Rectangle4.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-five {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background: url("../../img/main/our-services/Rectangle5.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-six {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  background: url("../../img/main/our-services/Rectangle6.jpg") 0 0/100% 100% no-repeat;
}

.our-services__column-title {
  padding-bottom: 25px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
  color: #F7F7F7;
}

.our-services__column-text {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.4;
  color: #E6E6E6;
}

.our-services__column-link {
  font-family: "Raleway";
  font-weight: 500;
  color: #E6E6E6;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #70F5EA;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr minmax(20px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(20px, auto)/1fr;
  height: 100%;
}

.popup__content-big {
  padding: 55px 110px 0 55px;
}

.popup__content-small {
  padding: 55px 50px 0 55px;
}

.popup__title {
  padding-bottom: 32px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
  color: #132928;
}

.popup__text {
  font-family: "Raleway";
  line-height: 1.4;
  color: #132928;
}

.popup__close {
  padding-bottom: 30px;
  font-size: 35px;
  color: #44948D;
}

@media (max-width: 991px) {
  .our-services__column {
    padding: 60px 50px 55px 30px;
  }

  .popup__content-big {
    padding: 40px 50px 0 45px;
  }

  .popup__content-small {
    padding: 40px 20px 0 20px;
  }
}
@media (max-width: 767px) {
  .our-services__columns {
    -ms-grid-rows: (370px)[6];
    -ms-grid-columns: 1fr;
        grid-template: repeat(6, 370px)/1fr;
  }

  .our-services__column {
    padding-top: 100px;
  }

  .our-services__column-one,
.our-services__column-two,
.our-services__column-three,
.our-services__column-four,
.our-services__column-five,
.our-services__column-six {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (max-width: 480px) {
  .our-services__column {
    padding: 70px 50px 40px 30px;
  }
}
.small-team {
  padding: 135px 0 105px;
  text-align: center;
}

.small-team__photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 14px 1fr;
  -ms-grid-columns: minmax(auto, 370px) 14px minmax(auto, 370px) 14px minmax(auto, 370px);
      grid-template: 1fr 1fr/repeat(3, minmax(auto, 370px));
  gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-team__photo {
  position: relative;
  width: 100%;
  height: 440px;
}
.small-team__photo .photo__portrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo__popup-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-photo {
  position: absolute;
  bottom: 15px;
  left: 17px;
  width: 90%;
  height: 50%;
  background-color: #70F5EA;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.popup-photo:target {
  opacity: 1;
  visibility: visible;
}

.popup-photo__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-photo__triangle {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: #70F5EA;
  -webkit-transform: scale(1, 2) rotate(45deg);
          transform: scale(1, 2) rotate(45deg);
}

.popup-photo__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 40px 35px;
  text-align: left;
}

.popup-photo__title {
  margin-bottom: 20px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 19px;
  color: #2A3131;
}
.popup-photo__title span {
  font-weight: normal;
  font-size: 14px;
  color: #767776;
}

.popup-photo__text {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.3;
  color: #2A3131;
}

.popup-photo__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-photo__social-network {
  position: relative;
  width: 14px;
  height: 14px;
}
.popup-photo__social-network:not(:last-child) {
  margin-right: 10px;
}
.popup-photo__social-network img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .popup-photo__triangle {
    top: -5px;
    left: 25px;
    width: 10px;
    height: 10px;
  }

  .popup-photo__content {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .small-team__photos {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: (minmax(auto, 370px))[2];
        grid-template: 1fr 1fr 1fr/repeat(2, minmax(auto, 370px));
  }

  .popup-photo__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .small-team__photos {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: minmax(auto, 370px);
        grid-template: repeat(4, 1fr)/minmax(auto, 370px);
  }
}
.what-they-says {
  padding: 105px 0 125px;
  text-align: center;
  background-color: #F9FBFB;
}

.what-they-says__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what-they-says__slider {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
}

.what-they-says__slider > input {
  display: none;
}

.what-they-says__slider-body {
  position: relative;
  width: 390px;
  height: 360px;
  background-color: #EAEBED;
}

.what-they-says__body-slides {
  position: absolute;
  top: -6%;
  left: 9%;
  z-index: 0;
  width: 320px;
  height: 410px;
  -webkit-box-shadow: 0px -11px 12px -3px #EFF0F2;
          box-shadow: 0px -11px 12px -3px #EFF0F2;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.what-they-says__slide-one {
  background: url("../../img/main/what-they-says/photo3.png") 0 0/100% 100% no-repeat;
}

.what-they-says__slide-two {
  background: url("../../img/main/what-they-says/photo3.png") 0 0/100% 100% no-repeat;
}

.what-they-says__slide-three {
  background: url("../../img/main/what-they-says/photo3.png") 0 0/100% 100% no-repeat;
}

.what-they-says__slide-four {
  background: url("../../img/main/what-they-says/photo3.png") 0 0/100% 100% no-repeat;
}

.what-they-says__controls {
  position: absolute;
  top: 100%;
  left: 43%;
}

.what-they-says__controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #D0D0D0;
  border-radius: 35%;
  cursor: pointer;
}
.what-they-says__controls label:not(:last-child) {
  margin: 0 4px 0 0;
}

.what-they-says__controls label:hover,
#what-they-says__slide-one:checked ~ .what-they-says__controls label:nth-of-type(1),
#what-they-says__slide-two:checked ~ .what-they-says__controls label:nth-of-type(2),
#what-they-says__slide-three:checked ~ .what-they-says__controls label:nth-of-type(3),
#what-they-says__slide-four:checked ~ .what-they-says__controls label:nth-of-type(4) {
  background: #71F6EB;
}

#what-they-says__slide-one:checked ~ .what-they-says__slider-body > .what-they-says__slide-one,
#what-they-says__slide-two:checked ~ .what-they-says__slider-body > .what-they-says__slide-two,
#what-they-says__slide-three:checked ~ .what-they-says__slider-body > .what-they-says__slide-three,
#what-they-says__slide-four:checked ~ .what-they-says__slider-body > .what-they-says__slide-four {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.what-they-says__comment {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 42%;
          flex: 1 0 42%;
  margin-left: 83px;
}

.comment__body {
  width: 100%;
  height: 360px;
  margin-bottom: 30px;
  padding: 94px 80px 60px;
  background-color: #EAEBED;
}

.comment__content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.comment__title {
  margin-bottom: 20px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
}
.comment__title span {
  font-weight: normal;
  font-size: 16px;
  color: #7E7E7E;
}

.comment__text {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.5;
  color: #464647;
}

.comment__stars {
  font-size: 20px;
  color: #F2DA3B;
}

.comment__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 140px;
  margin-left: auto;
}

.comment__arrow {
  width: 50px;
  height: 50px;
  font-size: 45px;
  font-weight: 900;
  color: #B2B2B2;
  background-color: #fff;
}
.comment__arrow:hover, .comment__arrow :focus {
  color: #25514D;
  background-color: #70F5EA;
}

@media (max-width: 1199px) {
  .what-they-says__comment {
    margin-left: 30px;
  }
}
@media (max-width: 991px) {
  .comment__body {
    padding: 40px 30px;
  }
}
@media (max-width: 767px) {
  .what-they-says__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .what-they-says__slider {
    margin-bottom: 100px;
  }

  .what-they-says__controls {
    top: 116%;
  }

  .what-they-says__comment {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .comment__arrows {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .what-they-says__slider-body {
    width: 288px;
    height: 280px;
  }

  .what-they-says__body-slides {
    width: 234px;
    height: 332px;
  }

  .what-they-says__controls {
    top: 120%;
  }
}