body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 174px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 4;
  margin-right: 30px;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 5px solid black;
}
.header__logo span {
  font-size: 16px;
  color: #ABE9E6;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 9px;
  font-weight: 700;
}
.menu__list .menu__link {
  margin: 0 30px 0 0;
  color: black;
}

.burger__icon,
.burger__icon-close {
  display: none;
}

@media (max-width: 767px) {
  .header__container {
    min-height: 100px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 15px 20px 15px;
    background-color: #fff;
    -webkit-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    overflow: auto;
  }

  .header:target .menu__body {
    left: 0;
  }

  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    margin: 0 0 40px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger__icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 20px;
  }
  .burger__icon::before, .burger__icon::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: #606061;
  }
  .burger__icon span {
    width: 30px;
    height: 4px;
    background-color: #606061;
  }

  .burger__icon-close {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .burger__icon-close::before, .burger__icon-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #606061;
  }

  .burger__icon-close::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger__icon-close::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger__icon-close {
    display: none;
  }

  .header:target .burger__icon {
    display: none;
  }

  .header:target .burger__icon-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.shopno-agency {
  height: 100vh;
  padding: 300px 0 190px 0;
  text-align: center;
  background-color: #EFF0F2;
}

.shopno-agency__title {
  padding-bottom: 140px;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 4px 4px 7px #adadad;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #505050;
}
.shopno-agency__title span {
  display: inline-block;
  padding: 0 12px;
  background-color: #B2F2EE;
}

.shopno-agency__button {
  display: inline-block;
  padding: 17px 40px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #3C3C3D;
  border: 2px solid #777879;
}

.shopno-agency__image {
  position: relative;
}
.shopno-agency__image img {
  position: absolute;
  top: -45px;
  right: 60px;
}

@media (max-height: 767px) {
  .shopno-agency {
    padding: 220px 0 100px 0;
  }
}
@media (max-height: 650px) {
  .header__container {
    min-height: 100px;
  }

  .shopno-agency {
    padding: 150px 0 0 0;
  }

  .shopno-agency__title {
    padding-bottom: 60px;
  }
}
@media (max-height: 480px) {
  .shopno-agency {
    padding: 120px 0 0 0;
  }

  .shopno-agency__title {
    padding-bottom: 40px;
    font-size: 24px;
  }

  .shopno-agency__button {
    padding: 14px 30px;
  }

  .shopno-agency__image {
    display: none;
  }
}
@media (max-width: 767px) {
  .shopno-agency__title {
    font-size: 24px;
  }

  .shopno-agency__image img {
    right: 0;
  }
}
@media (max-width: 650px) {
  .shopno-agency__title {
    font-size: 20px;
  }

  .shopno-agency__image {
    display: none;
  }
}
@media (max-width: 480px) {
  .shopno-agency__title {
    font-size: 16px;
  }

  .shopno-agency__button {
    padding: 12px 20px;
    font-size: 14px;
  }
}